* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
.row{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
body{
    background: linear-gradient(90deg, rgba(195,212,186,1) 0%, rgba(61,218,112,1) 100%);
}







.fa-solid {
    cursor: pointer;
}